/* Global */

body {
  margin: 0;
  background-color: #ebebf0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4a4e57;
}

a {
  text-decoration: none;
  cursor: none;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  height: 300px;
  max-width: 1440px;
}

/* Section Divider */
hr.solid {
  border: none;
  border-top: 2px solid #a0a7b2;
  margin: 40px 0;
}

h1 {
  color: #230d0a;
  text-align: center;
  font-style: italic;
  font-size: 84px;
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 0px 10px 0px;
}

h2 {
  color: #230d0a;
  text-align: center;
  font-size: 26px;
  padding: 0px 40px 30px 40px;
}

h3 {
  color: #230d0a;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 0px 10px 0px;
}

p {
  color: #230d0a;
  text-align: center;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
