.topnav {
    background-color: #eeebe2;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 60px;
    padding: 0 0px;
    z-index: 1000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #D1D7E6;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: #465891;
}

.topnav a.active {
    background-color: #3A486B;
    color: white;
}