.topnav {
    background-color: #eeebe2;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 60px;
    padding: 0 20px;
    z-index: 1000;
    overflow: hidden;
}

.topnav a {
    color: #a0a4ad;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    color: #E0E1E4;
}

.topnav a.active {
    background-color: #3A486B;
    color: white;
}

h1 {
    color: #a0a4ad;
    text-align: center;
    font-style: italic;
    font-size: 48px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif
}

h2 {
    color: #a0a4ad;
    text-align: center;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

